# See https://pre-commit.com for more information
    # See https://pre-commit.com/hooks.html for more hooks
    repos:
      - repo: https://github.com/ambv/black
        rev: 23.1.0
        hooks:
          - id: black
            language_version: python3
      - repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.0.0
        hooks:
          - id: flake8
      - repo: https://github.com/pre-commit/mirrors-eslint
        rev: v8.15.0
        hooks:
          - id: eslint
            files: datacatalog/static/vendor/components/.*\.jsx?$
            types: [file]
            additional_dependencies:
              - eslint@8.15.0
              - eslint-plugin-react@7.29.4
