{% extends 'layout.html' %}
{% set active_page = "about" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="wrapper wrapper-text">
    <h1 id="aboutHeader">{{ config.get('INSTANCE_TITLE', 'Data Catalogue') }}</h1>

    <h2>Background</h2>
    <p>The {{ config.get('INSTANCE_TITLE', 'Data Catalogue') }} provides a centralized metadata repository for biomedical datasets, supporting data discovery, reuse, and compliance. It enables researchers to explore study descriptions across disease areas and access curated metadata from diverse projects and sources.</p>

    <h2>Evolution</h2>
    <p>Initially launched as the Translational Data Catalogue under IMI and H2020 initiatives jointly developed through ELIXIR Luxembourg, IMI-FAIRplus and IMI-eTRIKS collaborations. The catalogue has evolved into a broader service provided by ELIXIR Luxembourg and while IMI projects remain foundational, the catalogue now supports a wider range of datasets from national and international research efforts.</p>

    <h2>Unique Value</h2>
    <p>The catalogue centralizes metadata from large-scale biomedical research projects, improving findability and promoting FAIR data principles. It serves as a gateway for researchers to discover datasets and understand their context, provenance, and access conditions.</p>

    <h2>Approach</h2>
    <p>Developed through lean, user-centered design, the catalogue integrates community-accepted metadata models and supports diverse data types. It continues to grow through contributions from ELIXIR-LU and partner projects.</p>

    <h2>Impact</h2>
    <p>The catalogue enhances visibility and accessibility of biomedical datasets, fostering collaboration and accelerating research. It supports data sharing, compliance, and reproducibility across the research ecosystem.</p>

    <h2>Citation and Acknowledgment</h2>
    <p></p>Users should cite datasets using the provided accession number and, where available, the publication references.</p>
    <p><strong>Example citation:</strong><br>
    ELIXIR Luxembourg. <em>Dataset Title</em>. Accession: ELU-XXXXXXX. Available at: <a href="https://datacatalog.elixir-luxembourg.org/dataset/XXXXXXXd</p>
    
    <p>If the dataset is linked to a publication, please cite both the dataset and the publication or origin.</p>
    
    <p>Referencing a dataset from a data availablity statement:</p>
    <p>Data supporting the findings of this study are available in the {{ config.get('INSTANCE_TITLE', 'Data Catalogue') }}, accession number ELU-XXXXXXX, <a href="https://datacatalog.elixir-luxembourg.org/dataset/XXXXXXX"> https://datacatalog.elixir-luxembourg.org/dataset/XXXXXXX
    
    <p><strong>Acknowledgement:</strong> Please acknowledge ELIXIR Luxembourg in publications or presentations following the official<a href="https://elixir-luxembourg.org/about-node/publications"> ELIXIR-LU acknowledgement requirements</a></p>

</div>
{% endblock %}

